@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
}

.raleway-font {
    font-family: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.display-flex {
    display: flex;
}

.container-width {
    width: 80vw;
}

.gray-one {
    color: rgba(3, 7, 18, 0.7);
}

.green-color {
    color: #1DD100;
}

.primary-p {
    font-size: 1.12rem;
    color: rgba(3, 7, 18, 0.7);
}

/* nav-menu styles */
header {
    margin: 0 auto;
}

.navber {
    justify-content: space-between;
    align-items:
        center;
    margin: 50px auto;
}

.menu-title {
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-ul {
    gap: 3.62rem;
}

.nav-list {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: rgba(3, 7, 18, 0.7);
    font-size: 1.12rem;
    font-weight: 500;
}

.nav-btn {
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(29, 209, 0, 0.1);
    color: #1DD100;
    font-size: 1.25rem;
    border: 1px solid rgba(29, 209, 0, 0.4);
    border-radius: 12px;
    padding: 16px 30px;
}

.bar {
    display: none;
}

/* banner section style */
.banner-container {
    margin: 0 auto;
    height: 800px;
    position: relative;
}

.banner {
    background-image: linear-gradient(0deg, rgba(3, 7, 18, 0), rgba(3, 7, 18, 0)), url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: grid;
    place-items: center;
    border-radius: 32px;
}

.banner-content {
    text-align: center;
    max-width: 742px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 900;
    color: #ffff;
    margin-bottom: 20px;
    line-height: 86px;
}

.banner-span {
    color: #1DD100;
    font-size: 4rem;
    font-weight: 900;
}

.banner-description {
    color: #ffff;
    font-size: 1.12rem;
    padding-bottom: 35px;
    padding-top: 20px;
    line-height: 30px;
    letter-spacing: 1px;

}

.banner-btn {
    background-color: #1DD100;
    border: none;
    padding: 21px 30px;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: bold;
}

/* banner card styles*/

.banner-cards {
    max-width: 970px;
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    position: absolute;
    bottom: -70px;
    left: 20%;

}

.banner-card {
    background-color: #FFFFFF;
    border-radius: 24px;
    border-bottom: 4px solid #1DD100;
    padding: 32px 0;
    padding-left: 32px;
    padding-right: 53px;
}

.banner-card-content {
    padding-left: 16px;
    display: grid;
    gap: 8px;
}

.banner-card-title {
    font-size: 2.25rem;
    font-weight: bold;
}

/* .banner-card-description {} */

/* offer section style */

.offer-container {
    margin: 120px auto;
}

.offer-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 50px;
}

.offer-card-contianer {
    gap: 30px;
    justify-content: space-between;
    margin: 0 auto;
}

.offer-cards {
    display: grid;
    grid-template-columns: 300px 70px auto;
    background-color: #FFBF0F;
    width: 100%;
    border-radius: 24px;
    gap: 40px;
    max-height: 220px;
}

.offer-cards2 {
    background-color: #F78C9C;
}

.card-content-one {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 50px;
}

.offer-card-content-title {
    font-size: 2.5rem;
    font-weight: 900;
}

.offer-card-content-subtitle {
    font-size: 1.25rem;
    font-weight: 600;
}

.offer-card-content-description {
    font-size: 1.12rem;
    font-weight: 500;
}

.card-content-two {
    padding: 0 66px;
}

.card-content-three {
    align-items: center;
    justify-content: center;
}

.offer-btn {
    text-align: center;
    margin-top: 60px;
}

.offer_btn {
    background-color: #fff;
    padding: 20px;
}

/* poribohone section style */
.poribohon-container {
    background-color: #F7F8F8;
    border-radius: 100px 100px 0 0;
}

.poribhon-title {
    padding-top: 120px;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
}

.poribhon-description {
    text-align: center;
    max-width: 735px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 45px;
}

/* greenline container */
.greenline-container {
    margin: 0 auto;
    background-color: white;
    border-radius: 24px;
    gap: 30px;
}

.greenline-content-contianer {
    width: 80%;
    padding: 32px;
}

.greenline-content {
    gap: 12px;
    align-items: center;
    margin-bottom: 24px;
    justify-content: space-between;


}

.greenline-content-text {
    gap: 12px;
}

.greenline-content-title {
    font-size: 2rem;
    margin-bottom: 12px;
}

.greenline-content-btn {
    align-items: center;
}

.greenline-content-two {
    background-color: #F7F8F8;
    padding: 32px;
    border-radius: 24px;

}

.greenline-content-two-text {
    justify-content: space-between;
    padding-bottom: 48px;
    border-bottom: 2px dashed rgba(128, 128, 128, 0.432);
    margin-top: 24px;
}

.greenline-content-two-btn-container {
    justify-content: space-between;
}

.greenline-content-two-btn {
    width: 30%;
    margin-top: 24px;
    padding: 19px 0;
    border: none;
    border-radius: 12px;
}

.greenline-border {
    max-width: 418px;
}

.border-img {
    height: 100%;
}

.taka {
    display: grid;
    place-content: center;
    place-items: center;
    gap: 20px;

}

/* seat container style*/
.sit-container {
    margin: 26px auto;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 30px;

}

.left-side-content {
    width: 63%;
}

.first-sit-content {
    display: grid;
    gap: 40px;
}

.first-sit-content-title,
.select-passenger {
    border-bottom: 2px dashed rgba(128, 128, 128, 0.432);
    padding-bottom: 24px;

}

.select-passenger {
    justify-content: space-between;
}

.select-passenger-img {
    gap: 8px;
    align-items: center;
}

.sit-number-png {
    width: 17.5%;
    margin-left: auto;
    margin-top: 30px;
    padding: 24px;
    justify-content: center;
    background-color: #2e30302c;

}

.sit-numbers {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    align-items: center;
    margin-top: 24px;
}

.box,
.sit-number-png {
    background-color: #F7F8F8;
    padding: 30px 15px;
    text-align: center;
    border-radius: 12px;

}

.box-pov {
    display: flex;
    justify-content: space-evenly;
}

/* responsive for mobile */
@media screen and (max-width: 576px) {

    /* shared */
    .container-width {
        width: 90vw;
    }

    /* nav-menu styles */
    .menu-title {
        font-size: 1.25rem;
        font-weight: 800;
    }

    .nav-ul {
        display: none;
    }

    .bar {
        display: block;
    }

    .nav-btn {
        gap: 5px;
        background-color: rgba(29, 209, 0, 0.1);
        color: #1DD100;
        font-size: 1rem;
        border: 1px solid rgba(29, 209, 0, 0.4);
        border-radius: 12px;
        padding: 5px 10px;
    }

    /* banner */
    .banner-title,
    .banner-span {
        font-size: 3rem;
        line-height: 50px;
    }

    .banner-description {
        letter-spacing: 0;
        color: rgb(182, 184, 189);
    }

    .banner-cards {
        width: auto;
        margin: 0 auto;
        position: relative;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        bottom: -20px;
        left: 0;
    }

    .banner-card {
        background-color: #FFFFFF;
        border-radius: 12px;
        border-bottom: 4px solid #1DD100;
        padding: 15px 10px;
    }

    .banner-card-title {
        font-size: 1.25rem;
        font-weight: bold;
    }

    /* offer */
    .offer-container {
        margin-top: 400px;
    }

    .offer-card-contianer {
        flex-direction: column;
    }

    .offer-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: #FFBF0F;
        border-radius: 24px;
        gap: 5px;
        max-height: 220px;
    }

    .card-content-one,
    .card-content-three {
        padding: 20px;
        justify-content: start;

    }

    .card-content-two {
        display: none;
    }

    .offer-card-content-title {
        font-size: 1.5rem;
        font-weight: 900;
    }

    .offer-card-content-subtitle {
        font-weight: 600;
    }

    .offer_btn {
        background-color: #fff;
        padding: 20px;
    }
}

/* medium device style */
@media screen and (min-width:577px) and (max-width:992px) {

    /* shared */
    .container-width {
        width: 85vw;
    }

    /* nav-menu styles */
    .navber {
        justify-content: space-evenly;
    }

    .menu-title {
        font-size: 1.25rem;
        font-weight: 800;
    }

    .bar {
        display: none;
    }

    .nav-ul {
        gap: 20px;
        margin: 0 20px;
    }

    .nav-btn {
        gap: 5px;
        background-color: rgba(29, 209, 0, 0.1);
        color: #1DD100;
        font-size: 1rem;
        border: 1px solid rgba(29, 209, 0, 0.4);
        border-radius: 12px;
        padding: 5px 10px;
    }
}